<div class="artist">
  <h3 class="artist-name">{{model.name}}</h3>
  <p>Click below to see album details.</p>

  <ul>
    {{#each model.albums key="id" as |album|}}
      {{#link-to 'album' album}}
        <li>{{album.name}}</li>
      {{/link-to}}
      <br>
    {{else}}
        No albums found.
    {{/each}}
  </ul>

  {{outlet}}
</div>
